beautifulsoup4==4.3.2
Flask==0.10.1
Flask-Assets==0.10
Flask-Limiter==0.7.3
gunicorn==19.3.0
html5lib==0.999
itsdangerous==0.24
Jinja2==2.7.3
limits==1.0.2
MarkupSafe==0.23
pdfminer==20140328
pymongo==2.7.2
requests==2.7.0
six==1.9.0
slate==0.3
webassets==0.10.1
Werkzeug==0.9.6