.container {
  max-width: 960px;
}

main > section {
  padding-top: 30px;
  padding-bottom: 30px;

  border-bottom: 1px solid #eee;
}

#splash {
  text-align: center;
}

#learn-more {
  h2, .description {
    text-align: center;
  }
}