/* Vendor */
@import "vendor/bootstrap.min";

/* Layout */
#wrapper {
  max-width: 1080px;
}

/* Colors */
$brand-red: #bb2c2c;

$lighter-grey: #bbbbbb;
$light-grey: #888888;
$dark-grey: #666666;
$darker-grey: #333333;
$accent-grey: #eeeeee;

/* Typography */
body {
  font-family: "aktiv-grotesk-std";
  font-size: 13px;
  color: $darker-grey;
}

h2 {
  font-size: 24px;
  font-weight: 100;
}

h3 {
  font-size: 16px;
}

/* Partials */
@import "partials/header";

/* Pages */
@import "pages/index";