nav {
  /* Box Model */
  width: 100%;
  height: 64px;

  /* Typography */
  font-size: 12px;
  font-weight: 500;
  line-height: 64px;
  letter-spacing: 0.5pt;

  /* Visual */
  border-bottom: 1px solid $accent-grey;

  /* Miscellaneous */
  overflow: auto;

  /* Children */
  ul {
    padding-left: 0;
    margin: 0;
    list-style: none;

    a {
      padding: 5px;
      padding-top: 0;
      padding-bottom: 0;

      text-transform: uppercase;
    }
  }

  a {
    display: block;
    transition: color 0.1s;

    &:hover, &:active {
      text-decoration: none;
    }
  }
}

h1 {
  margin: 0;
  margin-right: 15px;

  font-size: 12px;
  line-height: 64px;

  a, a:hover, a:visited {
    color: $brand-red;
  }
}

h1,
.left-nav,
.left-nav li {
  float: left;
}

.left-nav a {
  color: $lighter-grey;

  &:hover {
    color: $light-grey;
  }
}

.right-nav,
.right-nav li {
  float: right;
}

.right-nav a {
  color: $dark-grey;

  &:hover {
    color: $darker-grey;
  }
}