html, body {
  height: 100%;
}

.header {
  margin: 20px 40px 10px 40px;
}

.content-box {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto 0px;
  /* Pad bottom by footer height */
  padding: 0 0 150px;
}

.pulltab {
  height: 42px;
  width: auto;
  display: block;
  margin: -42px auto 0px auto;
  cursor: pointer;
}

.navbar-link.active-link {
  color: #1b8fb9!important;
}

.navbar-link.active-link:hover {
  color: #136786!important;
}

.navbar-default {
  margin-bottom: 0px;
  background-color: white;
  border-color: white;
}

.navbar .brand { 
  max-height: 100%;
  max-width: auto%; 
}

.navbar-brand {
  padding: 0px;
}

.navbar-right {
  font-size: 20pt;
  font-weight: bold;
  margin-right: -20px;
}

a.navbar-link {
  color: black!important;
}

a.navbar-link:hover {
  color: #1b8fb9!important;
}

.footer {
  background-color: white;
  color: white;
  height: 200px;
  bottom: 0px;
  width: 100%;
  padding-bottom: 0px;
  margin-top: 0px;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer a:visited {
  color: white;
  text-decoration: none;
}

.footer a:hover {
  color: #918f8c!important;
  text-decoration: none;
}

.footer h3 {
  font-weight: bold;
}

.footer-content {
  background-color: black;
  height: 158px;
  width: 100%;
  margin: 0 0 0 0;
  padding: 4px 160px 4px 160px;
  text-align: center;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

.main {
  padding-left: 10%;
  padding-right: 10%;
}

hr {
  border: 0 none;
  background-color: black;
  height: 4px;
  margin: 0px 40px 0px 40px;
}

.btn-primary {
  background: #26a59f;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #186764;
}
