body {
  padding-top: 20px;
}

.navbar-default {
  margin-bottom: 0px;
  background-color: white;
  border-color: white;
}

.navbar .brand { 
    max-height: 100%;
    max-width: auto%; 
}

.navbar-brand {
  padding: 0px;
}

.navbar-right {
    font-size: 20pt;
}

a.navbar-link {
  color: black!important;
  font-style: bold!important;
}

a.navbar-link:hover {
  color: #1b8fb9!important;
  font-style: bold!important;
}

.footer {
  background-color: black;
  color: white;
  position: absolute;
  /*bottom: -270px;*/
  bottom: 0px;
  width: 100%;
  padding-bottom: 20px;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer a:visited {
  color: white;
  text-decoration: none;
}

.footer a:hover {
  color: #918f8c!important;
  text-decoration: none;
}

.footer h3 {
  font-weight: bold;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

.main {
  padding-left: 10%;
  padding-right: 10%;
}

hr {
  border: 0 none;
  background-color: black;
  height: 6px;
  margin-top: 0;
}

.btn-primary {
  background: #26a59f;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #186764;
}
