/* line 1 */
* {
  font-family: "Courier New", Courier, monospace;
}

/* line 5 */
body {
  margin-left: 7%;
  margin-right: 7%;
}

/* line 10 */
#messagebox {
  background-color: gainsboro;
  outline-color: black;
  outline-width: 2px;
  outline-style: solid;
  margin: auto;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
}

/* line 21 */
h1 {
  font-size: 36px;
  font-weight: bold;
}

/* line 26 */
a {
  color: black;
}

/* line 30 */
.center {
  margin: auto;
  text-align: center;
}

/* line 35 */
.codeblock {
  padding-left: 20px;
  padding-right: 20px;
  display: inline-block;
  line-height: 40px;
  background-color: whitesmoke;
}

/* line 43 */
.endpoint {
  margin-left: 3%;
}

/* line 47 */
.parameters {
  margin-top: 0px;
  margin-bottom: 0px;
}

/* line 52 */
.example {
  margin-left: 1%;
}

/* line 56 */
.api {
  display: none;
}

/* line 60 */
input {
  font-size: 14px;
}

/* line 64 */
input[type="submit"] {
  background-color: gainsboro;
  border-radius: 1px;
  border-color: black;
  width: 210px;
  height: 30px;
  font-size: 16px;
  font-weight: bold;
}
